.ctxscript-settings, .ctxscript-controls {
  background-color: white;
  margin: 2px -2px -2px -2px;
  border-top: 1px solid lightgray;
}
.ctxscript-settings > p, .ctxscript-controls > a {
  margin: 0;
  padding: 2px 10px;
  display: block;
}
.ctxscript-settings > p:hover, .ctxscript-controls > a:hover {
  background-color: lightblue;
}
.ctxscript-box h4 {
  margin-top: 8px;
  margin-bottom: 0px;
}
.ctxscript-prev {
  margin-bottom: -6px;
}
.ctxscript-arrow {
  font-weight: bold;
  margin: 5px;
}
.ctxscript-bar {
  background-color: #ADA;
  position: relative;
  margin-bottom: -6px;
  box-shadow: none;
}
.ctxscript-bar h1 {
  text-align: center;
  border: none;
  padding: 1px;
  font-size: 14px;
  font-style: italic;
  margin: 0 auto;
  width: 400px;
  color: green;
  line-height: 2em;
}
.ctxscript-bar:hover {
  background-color: white;
}
.ctxscript-btn-group button {
  margin-left: 6px;
  display: inline;
}
.ctxscript-btn-group button:first-child {
  margin-left: 0;
  display: inline;
}
.ctxscript-result textarea {
  margin: auto;
  width: 403px;
  max-width: 403px;
  min-height: 100px;
  display: block;
  font-family: "Courier New", monospace;
}
.ctxscript-result:empty {
  display: none;
}