<div id="container"></div>
<% if(user && user.admin){ %><button id="approve">Approve for publication</button><% } %>
<link rel="stylesheet" type="text/css" href="/ctxscript-core.css" />
<script src="/injectContextScript.js"></script>
<style>
#container .ctxscript-box {
  float: none !important;
  width: 95%;
  width: calc(100% - 15px);
}
</style>
<script>
injectContextScript(<%- JSON.stringify(config) %>, {
  scriptId: "createScript",
  args: {
    id: "<%- id %>"
  },
  container: document.getElementById("container")
});
$("#approve").click(function(){
  $.post("/v0/publish/<%- id %>")
    .then(function(r){
      console.log(r);
      alert("Script published");
    })
    .fail(function(e){
      console.log(e);
      alert(JSON.stringify(e));
    });
});
</script>