<div class="panel main-panel">
    <h1 class="section-title">Share natural language commands for the web</h1>
    <div class="two-column">

        <div class="column small-caption">
        <p>A Context Script is a JavaScript program with natural language commands that trigger it.</p>
        <p>Use the bookmarklet interface (pictured) to invoke Context Scripts on the websites you visit.
        Sign in to add it to your browser.</p>
        <p>This website provides a database where you can save and publish your Context Scripts.
        When you use the bookmarklet to invoke a command like
        "save the data on this webpage as a csv" the
        database is searched for scripts with similar trigger phrases,
        then the script that best matches your context (e.g. the webpage you are on)
        is evaluated.</p>
        </div>
        <div class="column">
            <img src="demo.png" />
        </div>
    </div>
</div>

<% include gettingStarted %>
