<% if (!user) { %>
<div class="panel">
    <img src="walkthrough/1.png" />
    <div class="caption">
    Imagine reading the Wikipedia article about <i>Star Trek: The Next Generation</i>
    and trying to find all the Starfleet engineers it mentions.
    </div>
</div>
<div class="panel">
    <img src="walkthrough/2.png" />
    <div class="caption">
    The Context Script bookmarklet can run scripts that will find them for you.
    </div>
</div>
<div class="panel">
    <img src="walkthrough/3.png" />
    <div class="caption">
    In this example, there is no Context Script for finding Starfleet engineers.
    So, we will create a new one for the task.
    </div>
</div>
<div class="panel">
    <img src="walkthrough/4.png" />
    <div class="caption">
    Building off of existing scripts makes creating new scripts easier.
    We will use the "get page text" script to perform the first step in our task.
    </div>
</div>
<div class="panel"><img src="walkthrough/5.png" /></div>
<div class="panel">
    <img src="walkthrough/6.png" />
    <div class="caption">
    The DBpedia Spotlight API be used identify all the Starfleet engineers in the page text
    (as well as many other concepts and entities).
    </div>
</div>
<div class="panel">
    <img src="walkthrough/7.png" />
    <div class="caption">
    Once the script is saved the creator can find Starfleet engineers mentioned
    on any website they visit.
    And when the script is published so can you.
    </div>
</div>
<div class="panel">
    <div class="bookmarklet-area"></div>
    <div class="caption">
        You can use the bookmarklet in this panel to try Content Script.
        <strong>However, it will not allow you to save scripts.</strong>
        To save scripts you must sign in. Then you will be given a link to
        a bookmarklet tied to your account.
    </div>
</div>
<% } else { %>
<div class="panel">
    <div class="bookmarklet-area"></div>
    <div class="caption">
        Here is a Context Script bookmarklet linked to your account:
    </div>
</div>
<% } %>

<script>
$(function(){
    $.when(
        $.get("/injectContextScript.js"),
        $.get("/ctxscript-core.css")
    ).then(function(injectScript, coreCSS){
        injectScript = injectScript[0];
        coreCSS = coreCSS[0];
        var config = <%- JSON.stringify(config) %>;
        var cssLoadCode = "var ss = document.createElement('link');";
        cssLoadCode += "ss.rel = 'stylesheet';";
        cssLoadCode += "ss.href = 'data:text/css," + escape(coreCSS) + "';";
        cssLoadCode += "document.documentElement.childNodes[0].appendChild(ss);";
        cssLoadCode += "ss.addEventListener('load', function(){ document.dispatchEvent(new Event('showCtxscript')) }, false);\n"
        script = (
            cssLoadCode +
            injectScript +
            "injectContextScript(" + JSON.stringify(config) +");"
        );
        $(".bookmarklet-area").append($('<a>').prop({
            href: "javascript:" + encodeURI(script)
        }).text(config.user ? "Context Script" : "Context Script Demo"));
    });
});
</script>
