<div class="panel">
    <div class="caption">
    Here is a Context Script bookmarklet that is linked to your account.
    Drag it onto your bookmark bar to use it.
    If you're using Chrome pressing <b>Ctrl+Shift+B</b> will show your bookmark bar.
    </div>
    <div class="bookmarklet-area"></div>
</div>

<h2 class="section-title">Your Scripts</h2>
<table>
    <tr>
        <th>Context</th>
        <th>Published</th>
        <th>Last Modified</th>
    </tr>
    <% result.hits.hits.forEach(function(hit){ %>
    <tr>
        <td><a href="/contextscripts/<%= hit._id %>"><%= hit._source.context.q %></a></td>
        <td><%= (hit._source.published ? "Yes" : "No") %></td>
        <td><%= hit._source.lastModified %></td>
    </tr>
    <% }); %>
</table>