<table>
    <tr>
        <th>Context</th>
        <th>Published</th>
        <th>Last Modified</th>
    </tr>
    <% result.hits.hits.forEach(function(hit){ %>
    <tr>
        <td><a href="/contextscripts/<%= hit._id %>"><%= hit._source.context.q %></a></td>
        <td><%= (hit._source.published ? "Yes" : "No") %></td>
        <td><%= hit._source.lastModified %></td>
    </tr>
    <% }); %>
</table>