<h2 class="section-title">Example Commands:</h2>
<div class="panel">
    <div class="caption">
    Find cats
    </div>
    <img src="/examples/cats.png" />
</div>
<div class="panel">
    <div class="caption">
    Word count
    </div>
    <img src="/examples/wordcount.png" />
</div>