<div class="panel">
    <div class="caption">
    Imagine trying to find all the Starfleet engineers mentioned in the
    Wikipedia article about <i>Star Trek: The Next Generation</i>.
    </div>
    <img src="/starfleet/walkthrough/1.png" />
</div>
<div class="panel">
    <div class="caption">
    Context Scripts can perform this type of task.
    </div>
    <img src="/starfleet/walkthrough/2.png" />
</div>
<div class="panel">
    <div class="caption">
    At the moment there is no Context Script for finding Starfleet engineers.
    We will make one on-the-fly.
    </div>
    <img src="/starfleet/walkthrough/3.png" />
</div>
<div class="panel">
    <div class="caption">
    Building off of existing scripts makes creating new scripts easier.
    We will use the "get page text" script to perform the first step in the task.
    </div>
    <img src="/starfleet/walkthrough/4.png" />
</div>
<div class="panel">
    <div class="caption">
    The command "Create a script from this one" opens a Context Script editor
    with the context and code of the previous "get page text" script.
    </div>
    <img src="/starfleet/walkthrough/5.png" />
</div>
<div class="panel">
    <div class="caption">
    In order to identify the Starfleet engineers in the page text we will use
    an external web-service, the DBpedia Spotlight API. Spotlight automagically
    annotates mentions of concepts and entities related to the
    given category.
    If you're interested, the full Context Script is available
    <a href="/contextscripts/starfleet">here</a>.
    </div>
    <img src="/starfleet/walkthrough/6.png" />
</div>
<div class="panel">
    <div class="caption">
    Once the script has been saved the creator can use it to find 
    Starfleet engineers mentioned on any website they visit.
    And, when the script is published, so can you.
    </div>
    <img src="/starfleet/walkthrough/7.png" />
</div>
