.ctxscript-container {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100%;
  overflow-y: auto;
  padding: 0;
  /* This prevents boxes from being cutoff when scrollbars are present */
  padding-left: 14px;
  z-index: 100;
  /*background: rgba(255, 255, 255, 0.4);*/
  font: 14px arial, sans-serif;
}
.ctxscript-box {
  display: block;
  background-color: #EEE;
  border: 1px solid #BBB;
  padding: 2px;
  margin: 5px;
  font-family: sans-serif;
  float: right;
  clear: both;
  min-width: 410px;
  box-shadow: inset 0px 1px 2px white;
}
#ctxscript-q {
  padding: 2px;
  width: 350px;
}
.ctxscript-invoke, .ctxscript-settings-btn {
  margin-left: 2px;
  padding: 2px 6px;
}
.ctxscript-btn {
  display: block;
  margin-top: 10px;
  padding: 2px;
}
