body {
    margin: 0;
    font: 14px arial, sans-serif;
}
.header {
    background-color: #ADA;
    border-bottom: 1px solid #5A5;
}
.header h1, .header h2 {
    font-family: sans-serif;
    margin: 0px 10px;
    line-height: 38px;
    color: white;
    text-shadow: 1px 1px #5A5, 1px -1px #5A5, -1px -1px #5A5, -1px 1px #5A5, 0 0 1px #5A5;
}
.header a {
    color: white;
    text-decoration: none;
}
.main {
    margin: 10px;
}
.login {
    border-bottom: 1px solid lightgray;
}
.login .btn {
    padding: 0px 10px;
    color: green;
    text-decoration: none;
}
.login .btn:hover {
    text-decoration: underline;
}
table {
    border: 1px solid gray;
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
}
table td, table th {
    border: 1px solid gray;
}
.panel {
    position: relative;
    max-width: 795px;
    border: 1px solid darkgray;
    margin-bottom: 5px;
    margin: auto;
    margin-bottom: 10px;
}
.panel img {
    width: 100%;
}
.caption {
    font-size: 1.1em;
    position: absolute;
    width: 100%;
    background-color: rgb(255, 245, 151);
    border-bottom: 1px solid darkgray;
    top: 0;
    padding: 7px 12px;
    box-sizing: border-box;
}
.bookmarklet-area {
    padding: 200px 0;
    text-align: center;
}