body {
    margin: 0;
    font: 16px arial, sans-serif;
}
.header {
    background-color: #ADA;
    border-bottom: 1px solid #484;
}
.header h1, .header h2 {
    font-family: sans-serif;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px #484, 1px -1px #484, -1px -1px #484, -1px 1px #484, 0 0 1px #484;
    font-size: 24px;
    vertical-align: bottom;
    margin: auto;
    padding-left: 10px;
}
.header a {
    color: white;
    text-decoration: none;
}
.main {
    margin: 10px;
}
.menu-bar {
    border-bottom: 1px solid #484;
    line-height: 1.3em;
    color: darkgreen;
}
.menu-bar .btn {
    padding: 0px 12px;
    color: green;
    text-decoration: none;
}
.menu-bar .btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.menu-bar .btn {
    border-left: 1px solid gray;
}
.menu-bar-container .btn:last-child {
    border-right: 1px solid gray;
}
table {
    border: 1px solid gray;
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
}
table td, table th {
    border: 1px solid gray;
}
.panel {
    position: relative;
    max-width: 795px;
    border: 1px solid #555;
    margin: auto;
    margin-bottom: 20px;
}
.panel img {
    width: 100%;
    vertical-align: bottom;
    margin-top: -20px;
}
.caption {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: rgb(255, 251, 173);;
    border-bottom: 1px solid #555;
    padding: 7px 12px;
    box-sizing: border-box;
    color: #222;
}
.bookmarklet-area {
    padding: 200px 0;
    text-align: center;
}
.main-panel {
    border: 0;
    text-align: center;
    margin: 40px auto;
}
.main-panel h2 {
    font-weight: normal;
    font-size: 1.4em;
}
.footer-links {
    text-align: center;
    margin-bottom: 10px;
}
.footer-links a {
    margin: 10px;
}
.bookmarklet {
    border: 1px solid gray;
    text-decoration: none;
    background-color: #EEE;
    color: black;
    padding: 2px 6px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.two-column .column {
    max-width: 370px;
    display: inline-block;
    vertical-align: middle;
}
.small-caption {
    padding: 0 12px;
    text-align: left;
    margin-right: 20px;
}
.subcaptions .caption {
    border: 1px solid #555;
    position: absolute;
    width: 300px;
    left: 20px;
}
.column img {
    margin-top: 0;
}
.section-title {
    margin: 35px;
    text-align: center;
}
h2.section-title {
    margin-top: 50px;
}
.section {
    margin: auto;
    text-align: center;
}
@media screen and (max-width:700px) {
    .subcaptions {
        z-index: 200;
        position: relative;
    }
    .subcaptions .caption {
        position: static; 
        width: inherit;
        border-width: 0;
        border-bottom-width: 1px;
    }
}