body {
    margin: 0;
    font: 14px arial, sans-serif;
}
.header {
    background-color: #ADA;
    border-bottom: 1px solid #484;
}
.header h1, .header h2 {
    font-family: sans-serif;
    margin: 0px 10px;
    line-height: 38px;
    color: white;
    text-shadow: 1px 1px #484, 1px -1px #484, -1px -1px #484, -1px 1px #484, 0 0 1px #484;
}
.header a {
    color: white;
    text-decoration: none;
}
.main {
    margin: 10px;
}
.login {
    border-bottom: 1px solid #484;
    line-height: 1.3em;
}
.login .btn {
    padding: 0px 10px;
    color: green;
    text-decoration: none;
}
.login .btn:hover {
    text-decoration: underline;
}
table {
    border: 1px solid gray;
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
}
table td, table th {
    border: 1px solid gray;
}
.panel {
    position: relative;
    max-width: 795px;
    border: 1px solid #555;
    margin-bottom: 5px;
    margin: auto;
    margin-bottom: 10px;
    color: #222;
}
.panel img {
    width: 100%;
    vertical-align: bottom;
    margin-top: -20px;
}
.caption {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: rgb(255, 251, 173);;
    border-bottom: 1px solid #555;
    padding: 7px 12px;
    box-sizing: border-box;
}
.bookmarklet-area {
    padding: 200px 0;
    text-align: center;
}
.main-panel {
    color: darkgreen;
    border: 0;
    text-align: center;
    margin: 40px auto;
}
.main-panel h2 {
    font-weight: normal;
    font-size: 1.4em;
}
.footer-links {
    text-align: center;
    margin-bottom: 10px;
}
.footer-links a {
    margin: 10px;
}